body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:803px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1023 {
  position:fixed;
  left:50%;
  margin-left:0px;
  top:50%;
  margin-top:0px;
  visibility:hidden;
}
#u1023_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:265px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:35px;
  width:803px;
  height:265px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u1024 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:76px;
  width:768px;
  height:143px;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:92px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:143px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:120px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:97px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:0px;
  width:75px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:0px;
  width:80px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:0px;
  width:93px;
  height:37px;
  display:flex;
  font-size:10px;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:64px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:37px;
  width:92px;
  height:28px;
  display:flex;
  font-size:11px;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:37px;
  width:143px;
  height:28px;
  display:flex;
  font-size:11px;
  color:#000000;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:37px;
  width:120px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:37px;
  width:97px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:37px;
  width:75px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:37px;
  width:80px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:37px;
  width:93px;
  height:28px;
  display:flex;
  font-size:10px;
}
#u1041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:64px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:65px;
  width:92px;
  height:26px;
  display:flex;
  font-size:11px;
}
#u1043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:65px;
  width:143px;
  height:26px;
  display:flex;
  font-size:11px;
  color:#000000;
}
#u1044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:65px;
  width:120px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:65px;
  width:97px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:65px;
  width:75px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:65px;
  width:80px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:65px;
  width:93px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:64px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:91px;
  width:92px;
  height:26px;
  display:flex;
  font-size:11px;
}
#u1051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:91px;
  width:143px;
  height:26px;
  display:flex;
  font-size:11px;
  color:#000000;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:91px;
  width:120px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:91px;
  width:97px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:91px;
  width:75px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:91px;
  width:80px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:91px;
  width:93px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:64px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:117px;
  width:92px;
  height:26px;
  display:flex;
  font-size:11px;
}
#u1059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:117px;
  width:143px;
  height:26px;
  display:flex;
  font-size:11px;
  color:#000000;
}
#u1060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:117px;
  width:120px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:117px;
  width:97px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:117px;
  width:75px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:117px;
  width:80px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:117px;
  width:93px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u1065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:246px;
  width:91px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
